#nav {
  background: black;
  height: 150px;
}

#foo {
  background: black;
  height: 50px;
}

#bar {
  background: black;
  height: 100px;
}


#section_1 {
  background: darkblue;
  //background-image: url("../images/universe_blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}



#section_2 {
  background: black;
  height: 800px;
}
