/* --- nav --- */

#nav {
  background: black;

}

#menu_logo {
  //background-image: url("../images/diamond.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: red;
  height: 50px;
  width: 50px;
  //border: 1px solid white;
}

#menu {
  color: white;
  list-style: none;
  background-color: red;
  height: 100%;
  width: 50px;
}

/* --- foo --- */

#foo {
  background: white;

}
