#diamond {
  align-self: flex-end;
  background-image: url("../images/flawless_diamond.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30%;
  width: 100%;
}


#diamond_text {
  align-self: flex-start;
  color: white;
  font-size: 40px;
  font-weight: bold;
  height: 50%;

}
