/* --- header --- */

#header {
  background: white;

}

/* --- about_skills --- */

#about_skills {
  background: white;

}


/* --- interests --- */

#interests {
  background: white;


}

/* --- contact --- */

#contact {
  background: white;

}
