$extra-small: "(max-width: 479px)";

@media #{$extra-small} {

  .col-6 {
    width: 100%;
  }

  .my-name {
    flex-direction: column-reverse;
    display: flex;
    height: 55vh;
  }

//my-story

  .my-face {
    .col-4{
      width: 100%;
    }
    height: 50vh;
  }




}

// [class*='col-']{
//   width:100%;
// }
