/* --- intro --- */



#half_circle_left {
  background-color: #c06;
  width: 75px;
  height: 150px;
  -moz-border-radius: 0 200px 200px 0;
  border-radius: 0 200px 200px 0;

}


#half_circle_right {
  background-color: #c06;
  width: 75px;
  height: 150px;
  -moz-border-radius: 200px 0 0 200px;
  border-radius: 200px 0 0 200px;

}
