//my-name

#text-my-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100
}

#paragraph-my-name {
  font-size: 24px;
}

#image-cut-off-face {
  //background-image: url('../images/face/foto-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

#user {
  background-image: url('../images/icons/user.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#about {
  background-image: url('../images/icons/about.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#computer {
  background-image: url('../images/icons/computer.png');
  background-size: contain;
  background-repeat: no-repeat;

}

#contact {
  background-image: url('../images/icons/contact.png');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 30px;
    height: 30px;
  }

}

//my-story

//skills

//contact
