$iPhone: "(max-width: 479px)";
$phone: "(min-width: 480px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";



// --- iPhone --- //

@media #{$iPhone} {
  [class*='col-']{
    display: flex;
    width:100%;
  }

  #nav {
    #menu {
      display: none;
    }
    .menu-content{ //test menu
      height: 100%;
      width:250px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: black;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
      a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
      }
      a:hover, .offcanvas a:focus{
       color: #f1f1f1;
     }

    }



  }



  #intro {
      height: 300px;

      #half_circle_left {
          height: 150px;
          width: 75px;
          -moz-border-radius: 0 150px 150px 0;
          border-radius: 0 150px 150px 0;
      }
      #half_circle_right {
          height: 150px;
          width: 75px;
          -moz-border-radius: 150px 0 0 150px;
          border-radius: 150px 0 0 150px;
    }
  }

  #container_half_left {
    display: none;
  }

  #container_half_right {
    width: 50%;
  }

  #container_text_intro {
    width: 50%;
  }

}


// --- phone --- //
@media #{$phone} {

  #nav {
    #menu {
      display: none;
    }
  }

    #intro {
        height: 350px;

        #half_circle_left {
            height: 150px * 2;
            width: 75px * 2;
            -moz-border-radius: 0 200px 200px 0;
            border-radius: 0 200px 200px 0;
        }
        #half_circle_right {
            height: 150px * 2;
            width: 75px * 2;
            -moz-border-radius: 200px 0 0 200px;
            border-radius: 200px 0 0 200px;
      }
    }
}


// --- tablet --- //

@media #{$tablet} {

  #nav {
    .links {
        padding: 50px;
    }
    #menu_logo {
        //display: none;
    }
  }

    #intro {
        height: 600px;

        #half_circle_left {
            height: 150px * 3;
            width: 75px * 3;
            -moz-border-radius: 0 300px 300px 0;
            border-radius: 0 300px 300px 0;
        }
        #half_circle_right {
            height: 150px * 3;
            width: 75px * 3;
            -moz-border-radius: 300px 0 0 300px;
            border-radius: 300px 0 0 300px;
      }
    }
}


// --- desktop --- //

@media #{$desktop} {

  #nav {
    .links {
        padding: 70px;
    }
    #menu_logo {
        //display: none;
    }
  }

    #intro{
        height: 800px;

        #half_circle_left {
            height: 150px * 5;
            width: 75px * 5;
            -moz-border-radius: 0 500px 500px 0;
            border-radius: 0 500px 500px 0;
        }
        #half_circle_right {
            height: 150px * 5;
            width: 75px * 5;
            -moz-border-radius: 500px 0 0 500px;
            border-radius: 500px 0 0 500px;
        }
    }
}
